[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
python-dotenv = "*"
langchain-ollama = "*"
faiss-cpu = "*"
pypdf = "*"
langchain-pinecone = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
rouge-score = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
